<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>tiny | URL-Shortener</title>
  </head>
  <body>
    <div class="container">
      <h1><u>tiny | Shorten your URL</u></h2>
      <p>Currently this service is only accessible inside IIT Kanpur Network as the server is running on internal network of IIT Kanpur</p>
      <form action="/encode" method="post">
        <div class="form-group">
          <input class="form-control" id="url" placeholder="Enter URL to shorten" name="url">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <h3>Your shortened url is <a href=<%= output %>><%= output %></a></h3>
    </div>
  </body>
</html>
