body{
  width: 100vw;
  height: 100vh;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  position: relative;
  text-align: center;
}

p{
  text-align: center;
}

form{
  position: absolute;
  top: 24%;
  width: 50%;
  left:25%;
}

input{
  height: 50px !important;
  border-radius: 30px;
}

button{
  position: relative;
  width: 30%;
  left: 35%;
  height: 50px;
}
