body{
  width: 100vw;
  height: 100vh;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  position: relative;
  text-align: center;
}

p{
  text-align: center;
}

.vertical-center {
  height:60%;
  width:100%;
  align-items: center;
  background: none;
  text-align: center;  /* align the inline(-block) elements horizontally */
  vertical-align: middle;
}

input{
  border-radius: 30px !important;
  width: 100% !important;
}
